@model IEnumerable<TheLastBuildWeek.Models.T_Prodotti>

@{
    ViewBag.Title = "Index";
    

}
<div class="container mb-5">
    <h2>Ttti i Prodotti</h2>

    <p>
        @Html.ActionLink("Aggiungi Prodotti", "Create", new {}, new {@class="btn btn-success"})
    </p>

    <div>
        <input type="text" id="SearchBox" placeholder="Inserisci un prodotto da ricercare" />
        <button id="SearchButton">Ricerca</button>
    </div>

    <div id="result" class="bg-light">

    </div>

    <div class="container mt-5">
        <div class="row row-cols-lg-5 row-cols-md-3 row-cols-1">
            @foreach (var item in Model)
            {



                <div class="col">
                    <div class="card" style="width: 100%; background-color: #0ac7c1ff">

                        <div class="card-body ">
                            <h4 class="card-title" style="color: white ">@Html.DisplayFor(modelItem => item.NomeProdotto) </h4>
                            <p>

                                @Html.DisplayFor(modelItem => item.FKIDDitta) <br />
                                @Html.DisplayFor(modelItem => item.TipoProdotto) <br />

                            </p>

                            <p class="card-text" style="background-color: white;">@Html.DisplayFor(modelItem => item.Descrizione)</p>

                            <ul class="list-group list-group-flush">
                                <li class="list-group-item">
                                    <h6 class="text-danger fs-5">@Html.DisplayFor(modelItem => item.Prezzo) Euro</h6>

                                </li>
                                <li class="list-group-item">
                                    <h6>@Html.DisplayNameFor(model => model.NumArmadietto)</h6>
                                    <p>@Html.DisplayFor(modelItem => item.NumArmadietto)</p>
                                </li>
                                <li class="list-group-item">
                                    <h6>@Html.DisplayNameFor(model => model.NumCassetto)</h6>
                                    <p>@Html.DisplayFor(modelItem => item.NumCassetto)</p>
                                </li>
                            </ul>
                            <div class="card-body">
                                @*@Html.ActionLink("Edit", "Edit", new { id = item.IDProdotto }) |*@
                                @Html.ActionLink("Acquista", "Details", new { id = item.IDProdotto }, new { @class = "btn btn-success" })
                                @*@Html.ActionLink("Delete", "Delete", new { id = item.IDProdotto })*@

                            </div>
                        </div>
                    </div>
                </div>
            }


        </div>
    </div>
</div>





@*@Html.DisplayNameFor(model => model.NomeProdotto)

    @Html.DisplayNameFor(model => model.FKIDDitta)

    @Html.DisplayNameFor(model => model.Prezzo)

    @Html.DisplayNameFor(model => model.Descrizione)

    @Html.DisplayNameFor(model => model.TipoProdotto)*@





@*@section scripts {
    @Scripts.Render("~/bundles/jqueryval")
    <script>
        $(document).ready(function () {
            $("#SearchButton").click(function () {
                var NomeProdotto = $('#SearchBox').val()
                $("#result").empty()

                $.ajax({
                    method: "GET",
                    url: "GetProdotti",
                    data: { nome: NomeProdotto },
                    success: function (data) {
                        console.log(data)
                        $.each(data, function (i, item) {
                            let div = "<div> <p> Nome:" + item.Nome + "</p>" +
                                "<p> Descrizione: " + item.Descrizione + "</p>"+
                                "<p> Armadietto:" + item.Armadietto + "</p>" +
                                "<p> Cassetto:" + item.Cassetto + "</p>" +
                                "</div>"
                            $("#result").append(div)
                        })
                    }
                })
            })
        })    
    </script>
    }*@

