@model IEnumerable<TheLastBuildWeek.Models.T_Prodotti>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>

            @*@Html.DisplayNameFor(model => model.NomeProdotto)
        
            @Html.DisplayNameFor(model => model.FKIDDitta)
        
            @Html.DisplayNameFor(model => model.Prezzo)
        
            @Html.DisplayNameFor(model => model.Descrizione)
       
            @Html.DisplayNameFor(model => model.TipoProdotto)*@
    

    @foreach (var item in Model)
    {
       



        <div class="card" style="width: 18rem;">
            
            <div class="card-body">
                <h5 class="card-title">@Html.DisplayFor(modelItem => item.NomeProdotto) </h5>
                <p>@Html.DisplayFor(modelItem => item.FKIDDitta)</p>
                <p>@Html.DisplayFor(modelItem => item.TipoProdotto)</p>
                <p class="card-text">@Html.DisplayFor(modelItem => item.Descrizione)</p>
                
            <ul class="list-group list-group-flush">
                <li class="list-group-item">
                    <h4>@Html.DisplayFor(modelItem => item.Prezzo) Euro</h4>
                    
                </li>
                <li class="list-group-item">
                    <h4>@Html.DisplayNameFor(model => model.NumArmadietto)</h4>
                    <p>@Html.DisplayFor(modelItem => item.NumArmadietto)</p>
                </li>
                <li class="list-group-item">
                    <h4>@Html.DisplayNameFor(model => model.NumCassetto)</h4>
                    <p>@Html.DisplayFor(modelItem => item.NumCassetto)</p>
                </li>
            </ul>
            <div class="card-body">
                @Html.ActionLink("Edit", "Edit", new { id = item.IDProdotto }) |
                |@Html.ActionLink("Acquista", "Details", new { id = item.IDProdotto, @class="btn-primary"})
                @Html.ActionLink("Delete", "Delete", new { id = item.IDProdotto })
                 
            </div>
        </div>
      </div>
    }


