@model TheLastBuildWeek.Models.T_Ricovero

@{
    ViewBag.Title = "Create";
}
<head>
    <link href="https://cdn.jsdelivr.net/gh/bbbootstrap/libraries@main/datedropper.css" rel="stylesheet">
    <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" rel="stylesheet">


    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet">
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")

</head>


@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()
    @Html.ValidationSummary(true, "", new { @class = "text-danger" })

    <div class="container d-flex justify-content-center text-center">
        <div class="card px-5 py-5 mt-5 " style="background-color: rgb( 9,35,35) !important">
            <h1>Inserisci un ricovero</h1>
            <span>Per inserire un ricovero specifica il motivo del ricovero stesso, la data prevista del ricovero ed il nome dell'animale.</span>
           
            @Html.LabelFor(model => model.FKIDAnimale, "FKIDAnimale", htmlAttributes: new { @class = "control-label col-md-2" }) 
            @Html.DropDownList("FKIDAnimale", null, htmlAttributes: new { @class = "form-control" })
@Html.ValidationMessageFor(model => model.FKIDAnimale, "", new { @class = "text-danger" }) @Html.LabelFor(model => model.DescrizioneRicovero, htmlAttributes: new { @class = "control-label col-md-2" })
            <input type="text" class="form-control" placeholder="Motivo del ricovero" @Html.EditorFor(model => model.DescrizioneRicovero, new { htmlAttributes = new { @class = "form-control" } })
                   @Html.ValidationMessageFor(model => model.DescrizioneRicovero, "", new { @class = "text-danger" }) 
           @Html.LabelFor(model => model.DataRicovero, htmlAttributes: new { @class = "control-label col-md-2" })
            <input id="date" type="date" class="form-control" placeholder="Data prevista Ricovero" @Html.EditorFor(model => model.DataRicovero, new { htmlAttributes = new { @class = "form-control" } })
          @Html.ValidationMessageFor(model => model.DataRicovero, "", new { @class = "text-danger" })  
            <button class="btn btn-success mt-5" >
                Inserisci
            </button>
        </div>
    </div>



    

}

    



