@model TheLastBuildWeek.Models.T_User


@{
    ViewBag.Title = "Login";
}
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width" />
    <link href="~/Content/Css/Login.css" rel="stylesheet" />

    <!-- Collegamento alla CDN, ad esempio, Bootstrap dalla CDN di Bootstrap -->
    <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css
" rel="stylesheet" />
    <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.bundle.min.js
" rel="stylesheet" />
    <link href="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js

" rel="stylesheet" />
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css

" rel="stylesheet" />
    @Styles.Render("~/Content/css/Login.css")
    @Scripts.Render("~/bundles/modernizr")


</head>

@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()

    <div class="card card0 border-0">
        <div class="row d-flex">
            <div class="col-lg-6 bg-body">
                <div class="card1 pb-5 w-75">
                    <div class="row px-3 justify-content-center mt-4 mb-5 border-line"> <img src="~/Content/images/LOGO.JPG" class="logo" > </div>
                    <div class="row px-3 justify-content-center mt-4 mb-5 border-line"> <img src="~/Content/images/cane_capp.jpg" class="image" > </div>
                </div>
            </div>
            <div class="col-lg-6 bg-body ">
                <div class="card2 card border-0 px-4 py-5 ">
          
             
                    <div class="row px-3 " >
                        <label class="mb-1 ">
                            @Html.LabelFor(model => model.Username, htmlAttributes: new { @class = "control-label" })
                        </label> <input class="mb-4" type="text" name="Username" placeholder="Enter a valid Username" @Html.EditorFor(model => model.Username, new { htmlAttributes = new { @class = "form-control" } })
                                        @Html.ValidationMessageFor(model => model.Username, "", new { @class = "text-danger" })
                    </div>
                    <div class="row px-3">
                        <label class="mb-1">
                            @Html.LabelFor(model => model.Password, htmlAttributes: new { @class = "control-label" })
                        </label> <input type="password" name="password" placeholder="Enter password" @Html.EditorFor(model => model.Password, new { htmlAttributes = new { @class = "form-control" } })
                                        @Html.ValidationMessageFor(model => model.Password, "", new { @class = "text-danger" })
                    </div>
                    <div class="row px-3 mb-4">
                        <div class="custom-control custom-checkbox custom-control-inline"> <input id="chk1" type="checkbox" name="chk" class="custom-control-input"> <label for="chk1" class="custom-control-label text-sm">Remember me</label> </div> <a href="#" class="ml-auto mb-0 text-sm">Forgot Password?</a>
                    </div>
                    <div class="row mb-3 px-3"> <button type="submit" class="btn btn-success text-center">Login</button> </div>
                
                </div>
            </div>
        </div>
    
        </div>
  
}





