@model TheLastBuildWeek.Models.T_Visita

@{
    ViewBag.Title = "Delete";
}

<h3 class="text-light">Delete</h3>

<h5 class="text-danger">Vuoi davvero cancellare questa visita?</h5>
<div>

    <hr />
    <dl class="dl-horizontal text-light">
        <dt>
            @Html.DisplayNameFor(model => model.T_Animali.NomeAnimale)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.T_Animali.NomeAnimale)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.DataVisita)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.DataVisita)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Esame)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Esame)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Descrizione)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Descrizione)
        </dd>

    </dl>

    @using (Html.BeginForm()) {
        @Html.AntiForgeryToken()

        <div class="form-actions no-color">
            <input type="submit" value="Delete" class="btn btn-default bg-primary bg-opacity-25 text-light border border-light rounded-pill px-3 my-2" /> |
            @Html.ActionLink("Back to List", "Index")
        </div>
    }
</div>
